<template>
    <div class="component-container"> 
        <template if:true={showEmpDataTable}>
            <div class="slds-gutters slds-grid slds-wrap section-wrap">
                <div class="slds-col slds-size_1-of-3 slds-p-bottom_medium">
                    <lightning-input class="no-label" onchange={handleEmpGridSearch} type="text" placeholder="Search Grid" name="empSearch"  value={searchEmp}></lightning-input>
                </div>  
                <div class="slds-col slds-size_1-of-3 slds-p-bottom_medium"></div>
                <div class="slds-col slds-size_1-of-3 slds-p-bottom_medium action-button-container">
                    <lightning-button-icon class="slds-m-left_medium action-button" icon-name="utility:full_width_view"  size="medium"   alternative-text="Adjust Columns"
                        onclick={openColumnModal}></lightning-button-icon>
                    <lightning-button-icon class="slds-m-left_medium action-button" icon-name="utility:logout"  size="medium"   alternative-text="Export"></lightning-button-icon>
                    <lightning-button-icon class="slds-m-left_medium action-button" icon-name="utility:refresh"  size="medium"   alternative-text="Refresh"></lightning-button-icon>
                </div>
            </div>
            <c-aurora-datatable
                    key-field="id"
                    data={empData}
                    columns={empColumns}
                    hide-checkbox-column
                    default-sort-direction={defaultSortDirection}
                    sorted-direction={empSortDirection}
                    sorted-by={empSortedBy}
                    onsort={handleEmpGridSort}
                    onrowaction={handleEmpRowAction}>
                </c-aurora-datatable>
        </template>
        <template if:false={showEmpDataTable}>
            <p>No records were found.</p>
        </template>
        <!-- employee modal start -->
        <template if:true={showCaseModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-edit" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open slds-modal_large">
                <div class="slds-modal__container large-modal">
                    <!-- modal header start -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={handleCloseCaseModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                size="small"></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-edit" class="slds-text-heading_medium slds-hyphenate">Luke User Cases</h2>
                    </header>
                    <div class="modal-content-container">
                        <c-employee-cases></c-employee-cases>
                    </div>
                    <!-- modal body start
                    <div  class="slds-modal__content modal__body" >
                            <lightning-datatable
                                key-field="id"
                                data={caseData}
                                columns={caseColumns}
                                hide-checkbox-column
                                default-sort-direction={defaultSortDirection}
                                sorted-direction={caseSortDirection}
                                sorted-by={caseSortedBy}
                                onsort={handleCaseGridSort}
                                onrowaction={handleCaseRowAction}>
                        </lightning-datatable>
                    -->
                    </div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!-- column modal start -->
        <template if:true={showColumnModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-cols" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container large-modal">
                    <!-- modal header start -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={handleCloseColumnModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                size="small"></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-cols" class="slds-text-heading_medium slds-hyphenate">Column Chooser</h2>
                    </header>
                    <!-- modal body start -->
                    
                    <div class="slds-modal__content modal__body" >Cols here</div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <!-- column modal start -->
        <template if:true={showCaseStepModal}>
            <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-casestep" aria-modal="true"
                aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
                <div class="slds-modal__container large-modal">
                    <!-- modal header start -->
                    <header class="slds-modal__header">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                            title="Close" onclick={handleCloseCaseStepModal}>
                            <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                                size="small"></lightning-icon>
                            <span class="slds-assistive-text">Close</span>
                        </button>
                        <h2 id="modal-heading-casestep" class="slds-text-heading_medium slds-hyphenate">Step Details</h2>
                    </header>
                    <!-- modal body start -->
                    
                    <div class="slds-modal__content modal__body" >Case steps here</div>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </template>
        <div if:true={isLoading} style="height:100vh">
            <lightning-spinner
                alternative-text="Loading...">
            </lightning-spinner>
        </div>
    </div>
</template>