<template>
    <div class="ui-widget-internal no-bottom-gap">
        <h3 class="aurora-icon-header">
            <i class="la la-address-card"></i>
            <span>{empHeader.displayName}</span>
        </h3>
        <div class="aurora-header-section">
            <section class="aurora-header-section__body">
                <div class="aurora-header-section__details">
                    <div class="header-item">
                        <div class="details__label"><label
                            for="employeeId">Employee Id</label></div>
                        <div class="details__value"><span
                            id="employeeId">{empHeader.empId}</span></div>
                    </div>
                    <div class="header-item">
                        <div class="details__label"><label
                            for="managerName">Manager</label></div>
                        <div class="details__value"><span
                            id="managerName">{empHeader.managerName}</span></div>
                    </div>
                    <div class="header-item">
                        <div class="details__label"><label
                            for="visaType">Visa Type</label></div>
                        <div class="details__value"><span
                            id="visaType">{empHeader.visaType}</span></div>
                    </div>
                    <div class="header-item">
                        <div class="details__label"><label
                            for="visaExpiration">Visa Expiration</label></div>
                        <div class="details__value"><span
                            id="visaExpiration">{empHeader.visaExpiration}</span></div>
                    </div>
                </div>
            </section>
            <section class="aurora-header-section__body">
                <div class="aurora-header-section__details">
                    <div class="header-item">
                        <div class="details__label"><label
                            for="employer">Employer</label></div>
                        <div class="details__value"><span
                            id="employer">{empHeader.corpName}</span></div>
                    </div>
                    <div class="header-item">
                        <div class="details__label"><label
                            for="costCenter">Cost Center / Business Unit</label></div>
                        <div class="details__value"><span
                            id="costCenter">{empHeader.costCenter} / {empHeader.businessUnit}</span></div>
                    </div>
                    <div class="header-item">
                        <div class="details__label"><label
                            for="workLocation">Work Location</label></div>
                        <div class="details__value">
                            <span id="workLocation">
                            {empHeader.workLocationLine1}<br/>
                            {empHeader.workLocationLine2}</span>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <template if:true={showMoreDetails}>
            <div class="aurora-header-section more-details">
                <section class="aurora-header-section__body">
                    <div class="aurora-header-section__details">
                        
                        <div class="header-item">
                            <div class="details__label"><label
                                for="jobTitle">Job Title</label></div>
                            <div class="details__value"><span
                                id="jobTitle">{empHeader.jobTitle}</span></div>
                        </div>
                    
                        <div class="header-item">
                            <div class="details__label"><label
                                for="jobDuties">Job Duties</label></div>
                            <div class="details__value">
                                <span id="jobDuties">{empHeader.jobDuties}</span>
                            </div>
                        </div>
                        
                    </div>
                </section>
                <section class="aurora-header-section__body">
                    <div class="aurora-header-section__details">
                        <div class="header-item">
                                <div class="details__label"><label
                                    for="hiredDate">Hired Date</label></div>
                                <div class="details__value"><span
                                    id="hiredDate">{empHeader.hiredDate}</span></div>
                            </div>
                        <div class="header-item">
                            <div class="details__label"><label
                                for="salary">Salary</label></div>
                            <div class="details__value"><span
                                id="salary">{empHeader.salary}</span></div>
                        </div>
                        <div class="header-item">
                            <div class="details__label"><label
                                for="salaryCurrency">Salary Currency</label></div>
                            <div class="details__value"><span
                                id="salaryCurrency">{empHeader.salaryCurrency}</span></div>
                        </div>
                    </div>
                </section>
            </div>
        </template>
        
    </div>
    <div class="widget-expander">
        <template if:true={showMoreDetails}>
            <button class='button-more-details' label='Show Less Details' onclick={handleLessDetails}>Show Less Details</button>
        </template>
        <template if:false={showMoreDetails}>
            <button class='button-more-details' label='Show More Details' onclick={handleMoreDetails}>Show More Details</button>
        </template>
    </div>
    <div if:true={isLoading} style="height:100vh">
        <lightning-spinner
            alternative-text="Loading...">
        </lightning-spinner>
    </div>
</template>